
.full{
    background-color: blue;
}
.adminNav{
    margin: 0 auto;
}
.adminNav a:hover{
    text-underline: none;
}
.adminNav a{
    color: dodgerblue;
    font-weight: bold;
}
.detailsView-label{
    font-weight: bold;
    font-size: 20px;
}
.outer {
    position: relative;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    padding: 10px;
    background: white;
    width: 25%;
    font-weight: 500;
    border-radius: 5px;
}

.inner {
    font-weight: bold;
    padding-bottom: 15px;
    padding-top: 15px;
}